.autor-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.autor-line {
    width: 300px;
    display: inline;
    border-top: 1px solid grey;
} 

